{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Estrellas del ahorro</title>
    <link rel="icon" type="image/png" href="{% static 'css/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos-PlanetaAdquisitivo.css' %}">
</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <img src="{% static 'css/images/icono.gif' %}" width="30px" height="30px" alt="Logo de la página" class="logo">
                    Super Estrellas Del Ahorro
                </h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="{% url 'Inicio' %}" class="nav__links">Volver</a>
                </li>
                <li class="nav__items">
                    <a href="{% url 'ranking' %}" class="nav__links">Ranking</a>
                </li>

                <li class="nav__items">
                    <a href="{% url 'logout' %}" class="nav__links">Cerrar sesión</a>
                </li>
                <li class="nav__items">
                    <img src="{% static 'css/images/close.svg' %}" class="nav__close">
                </li>
            </ul>

            <div class="nav__menu">
                <img src="{% static 'css/images/menu.svg' %}" class="nav__img">
            </div>
        </nav>
        <section id="inicio" class="hero__container container">
            <h1 class="hero__title">Hola, {{ user.username }}!</h1>
            <h1 class="hero__title">Desliza para ver tus actividades disponibles </h1>
            <img src="{% static 'css/images/FlechaAbajo.png' %}" alt="Flecha Abajo" class="flecha-abajo" id="flecha-abajo-trigger">
        </section>
    </header>
    <main>
        <section id="about-section" class="container about">
            <h2 class="subtitle">¡Haz clic en el botón y deja que la diversión comience!</h2>
            <div class="actividades-container">
                {% for actividad in actividades_completas %}
                    <div class="actividad-container">
                        <!-- Imagen de la actividad -->
                        <img src="{% if actividad.imagen %}{{ actividad.imagen.url }}{% else %}{% static 'ruta_a_tu_imagen_por_defecto.jpg' %}{% endif %}" alt="{{ actividad.nombre }}" class="actividad-imagen">

                        <div class="actividad-info">
                            <!-- Nombre de la actividad -->
                            <h3 class="actividad-nombre">{{ actividad.nombre }}</h3>

                            <!-- Descripción de la actividad -->
                            <p class="actividad-descripcion">{{ actividad.descripcion }}</p>

                            <!-- Dificultad de la actividad -->
                            <p class="actividad-dificultad">Dificultad: {{ actividad.get_dificultad_display }}</p>
                            <br>

                            <!-- Otros datos de la actividad según sea necesario -->
                            <!-- ... -->

                            <form action="{% url 'actividad-detalle' nombre_actividad=actividad.nombre %}" method="post" class="form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="boton-inscripcion" id="submit-button">Explorar Ahora</button>
                            </form>
                            
                            
                        </div>
                    </div>
                {% endfor %}
            </div>

        </section>
    </main>

    <footer class="footer">
        <header class="footer__header">  
            <br>
            <img src="{% static 'css/images/icono.gif' %}"  width="100" alt="Super Estrellas del Ahorro" class="footer__logo">
        </header>
    
        <section class="footer__container container">
            <h2 class="footer__title">Descubre más</h2>
            <br>
            <br>
    
            <ul class="nav__link nav__link--footer">
    
                <img class="footer__icon " src="{% static 'css/images/Saludo.gif' %}"   alt="Imagen Qué Es El Dinero">
    
                <li id="contacto" class="nav__items">
                    <a href="#contacto" class="nav__links">Contacto</a>
                    <!-- Información de contacto y iconos debajo del enlace "Contacto" -->
                    <div class="contact-info">
                        <ul>
                            <li><strong>Teléfono:</strong> +123456789</li>
                            <li><strong>WhatsApp:</strong> +57 3026603867</li>
                            <li><strong>Correo electrónico:</strong> info@example.com</li>
                        </ul>
                    </div>
    
                    <div class="contact-icons">
                      <img src="{% static 'css/images/Telefono.png' %}" alt="Icono de Teléfono" class="icon"> 
                      <a href="https://api.whatsapp.com/send?phone=573026603867"><img src="{% static 'css/images/WhatsApp.png' %}" alt="Icono de WhatsApp" class="icon"></a> 
                        <img src= "{% static 'css/images/Arroba.png' %}"  alt="Icono de Correo electrónico" class="icon">
                    </div>
                </li>
    
                <li class="nav__items">
                    <!-- Enlace con la flecha hacia arriba para ir al inicio -->
                    <a href="#inicio" class="nav__links">
                        <img src="{% static 'css/images/Flecha.png' %}"  alt="Flecha hacia arriba" class="arrow-icon">
                    </a>
                </li>
    
            </ul>
        </section>
    
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="https://www.facebook.com/profile.php?id=61552773415775&locale=es_LA" class="footer__icons"><img src="{% static 'css/images/facebook.svg' %}"  alt="Facebook" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/twitter.svg' %}" alt="Twitter" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/youtube.svg' %}" alt="YouTube" class="footer__img"></a>
            </div>
    
            <h3 class="footer__copyright">&copy; 2023 Super Estrellas del Ahorro</h3>
        </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#flecha-abajo-trigger").click(function() {
                // Obtiene la posición superior de la sección
                var aboutSectionTop = $("#about-section").offset().top;

                // Desplaza la página hacia abajo hasta la posición de la sección
                $("html, body").animate({ scrollTop: aboutSectionTop }, 1000);
            });
        });
    </script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/deslizar.js' %}"></script>
</body>

</html>
