{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Estrellas del ahorro</title>
    <link rel="icon" type="image/png" href="{% static 'css/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos-Actividad1.css' %}">
    
</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <img src="{% static 'css/images/icono.gif' %}" width="30px" height="30px" alt="Logo de la página" class="logo">
                    Super Estrellas Del Ahorro
                </h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="{% url 'ActividadesDisponibles' %}" class="nav__links">Volver a las Actividades</a>
                </li>
                <li class="nav__items">
                    <a href="{% url 'logout' %}" class="nav__links">Cerrar sesión</a>
                </li>
                <li class="nav__items">
                    <img src="{% static 'css/images/close.svg' %}" class="nav__close">
                </li>
            </ul>

            <div class="nav__menu">
                <img src="{% static 'css/images/menu.svg' %}" class="nav__img">
            </div>
        </nav>
        <section id="inicio" class="hero__container container">
            <h1 class="hero__title">Actividad 1: Clasificación de Monedas y Billetes</h1>
            <p class="hero__paragraph">Busca monedas y billetes que hayas ahorrado y clasifícalos según su valor. ¿Cuánto dinero encontraste?</p>
            <img src="{% static 'css/images/FlechaAbajo.png' %}" alt="Flecha Abajo" class="flecha-abajo" id="flecha-abajo-trigger">
        </section>
        
    </header>
    
    <main>
        <div id="monedas-billetes-form" class="container">
        <section id="about-section" class="container about">
            <h1 class="hero__title">Bienvenido a la Actividad 1</h1>
            <br>
            <h1 class="hero__title">{{ user.username }}!</h1>
            <br>
             <h2 class="hero__title">Digita cuantas monedas de cada valor encontraste, cuando ya hayas puesto todas tus monedas presiona el boton de "Calcular" si deseas borrar presiona el boton "Limpiar" </h2>
            <br>
            <div class="row">
                <form id="monedas-billetes-form2" method="post">
                    {% csrf_token %}
                    <div class="col-md-12" id="COL">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="moneda-100">Monedas de $100 pesos:</label>
                                <input type="number" id="moneda-100" name="moneda-100" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="moneda-200">Monedas de $200 pesos:</label>
                                <input type="number" id="moneda-200" name="moneda-200" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="moneda-500">Monedas de $500 pesos:</label>
                                <input type="number" id="moneda-500" name="moneda-500" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-1000">Billetes de $1,000 pesos:</label>
                                <input type="number" id="billete-1000" name="billete-1000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-2000">Billetes de $2,000 pesos:</label>
                                <input type="number" id="billete-2000" name="billete-2000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-5000">Billetes de $5,000 pesos:</label>
                                <input type="number" id="billete-5000" name="billete-5000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-10000">Billetes de $10,000 pesos:</label>
                                <input type="number" id="billete-10000" name="billete-10000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-20000">Billetes de $20,000 pesos:</label>
                                <input type="number" id="billete-20000" name="billete-20000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-50000">Billetes de $50,000 pesos:</label>
                                <input type="number" id="billete-50000" name="billete-50000" min="0"><br>
                            </div>
                            <div class="col-md-6">
                                <label for="billete-100000">Billetes de $100,000 pesos:</label>
                                <input type="number" id="billete-100000" name="billete-100000" min="0"><br>
                            </div>
                            </BR>
                            <div class="col-md-6">
                                <button type="button" id="calcular" class="btn btn-primary">Calcular</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="limpiar" class="btn btn-secondary">Limpiar</button>
                            </div>
                            <div class="col-md-12 resultado-container">
                                <img src="{% static 'css/images/MonedaGame.gif' %}" width="50px">
                                <p id="puntuacion-actual">Mi Puntuación Total: {{ puntuacion_actual }}</p>
                                <br>
                                <br>

                                 <div id="resultado"></div>
                                <img src="{% static 'css/images/Lapiz.gif' %}" width="500px" alt="Alcancia" id="hucha">

                            </div>
                        </div>
                    </div>  
                </form>
            </div>
        </section>
        
    </main>
    




    <footer class="footer">
        <header class="footer__header">  
            <br>
            <img src="{% static 'css/images/icono.gif' %}"  width="100" alt="Super Estrellas del Ahorro" class="footer__logo">
        </header>
    
        <section class="footer__container container">
            <h2 class="footer__title">Descubre más</h2>
            <br>
            <br>
    
            <ul class="nav__link nav__link--footer">
    
                <img class="footer__icon " src="{% static 'css/images/Saludo.gif' %}"   alt="Imagen Qué Es El Dinero">
    
                <li id="contacto" class="nav__items">
                    <a href="#contacto" class="nav__links">Contacto</a>
                    <!-- Información de contacto y iconos debajo del enlace "Contacto" -->
                    <div class="contact-info">
                        <ul>
                            <li><strong>Teléfono:</strong> +123456789</li>
                            <li><strong>WhatsApp:</strong> +57 3026603867</li>
                            <li><strong>Correo electrónico:</strong> info@example.com</li>
                        </ul>
                    </div>
    
                    <div class="contact-icons">
                      <img src="{% static 'css/images/Telefono.png' %}" alt="Icono de Teléfono" class="icon"> 
                      <a href="https://api.whatsapp.com/send?phone=573026603867"><img src="{% static 'css/images/WhatsApp.png' %}" alt="Icono de WhatsApp" class="icon"></a> 
                        <img src= "{% static 'css/images/Arroba.png' %}"  alt="Icono de Correo electrónico" class="icon">
                    </div>
                </li>
    
                <li class="nav__items">
                    <!-- Enlace con la flecha hacia arriba para ir al inicio -->
                    <a href="#inicio" class="nav__links">
                        <img src="{% static 'css/images/Flecha.png' %}"  alt="Flecha hacia arriba" class="arrow-icon">
                    </a>
                </li>
    
            </ul>
        </section>
    
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="https://www.facebook.com/profile.php?id=61552773415775&locale=es_LA" class="footer__icons"><img src="{% static 'css/images/facebook.svg' %}"  alt="Facebook" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/twitter.svg' %}" alt="Twitter" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/youtube.svg' %}" alt="YouTube" class="footer__img"></a>
            </div>
    
            <h3 class="footer__copyright">&copy; 2023 Super Estrellas del Ahorro</h3>
        </section>
    </footer>




    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#flecha-abajo-trigger").click(function() {
                // Obtiene la posición superior de la sección
                var aboutSectionTop = $("#about-section").offset().top;
    
                // Desplaza la página hacia abajo hasta la posición de la sección
                $("html, body").animate({ scrollTop: aboutSectionTop }, 1000);
            });
        });
    </script>
    
    <!-- Agrega la referencia a jQuery (asegúrate de haber cargado jQuery antes de este script) -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Agrega la referencia a tu script actividad_custom.js -->
<script src="{% static 'js/actividad_custom.js' %}"></script>

    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/questions.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/deslizar.js' %}"></script>
</body>

</html>
