{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" href="{% static 'css/images/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{% static 'css/images/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Estrellas del ahorro</title>
    <link rel="icon" type="image/png" href="{% static 'css/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos-Familia.css' %}">
</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                
                <h2 class="nav__title"><img src="{% static 'css/images/icono.gif    ' %}" width="30px" height="30px" alt="Logo de la página" class="logo"> Super Estrellas Del Ahorro </h2>
            </div>

            <ul class="nav__link nav__link--menu">


                <li class="nav__items">
                    <a href="{% url 'informe_puntos' %}" class="nav__links">Informes</a>
                </li>
        
                <li class="nav__items">
                    <a href="{% url 'logout' %}" class="nav__links">Cerrar sesión</a>
                </li>
                
                <li class="nav__items">
            
                <img src="{% static 'css/images/close.svg' %}" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="{% static 'css/images/menu.svg' %}" class="nav__img">
            </div>
        </nav>

        <section id="inicio" class="hero__container container">
            <h1 class="hero__title">Bienvenido Padre Ahorrador  {{ user.username }} </h1>            
    </header>
    <main>
        <section id="about-section" class="container about">
            {% csrf_token %}

            {% block content %}
            <h3>Vinculación Familiar</h3>
            <form method="post" action="{% url 'vista_vinculo' %}">
              {% csrf_token %}
              <label for="codigo_unico">Ingrese el Codigo Unico del Usuario al cual desea vincularse</label>
              <input type="text" name="codigo_unico" required>
              <button type="submit">Vincular</button>
            </form>
          {% endblock %}
        </section>    


    <footer class="footer">
        <header class="footer__header">  
            <br>
            <img src="{% static 'css/images/icono.gif' %}"  width="100" alt="Super Estrellas del Ahorro" class="footer__logo">
        </header>
    
        <section class="footer__container container">
            <br>
            <br>
            <br>
            <br>
            <h2 class="footer__title">Descubre más</h2>
            <br>
            <br>
    
            <ul class="nav__link nav__link--footer">
    
                <img class="footer__icon " src="{% static 'css/images/Saludo.gif' %}"   alt="Imagen Qué Es El Dinero">
    
                <li id="contacto" class="nav__items">
                    <a href="#contacto" class="nav__links">Contacto</a>
                    <!-- Información de contacto y iconos debajo del enlace "Contacto" -->
                    <div class="contact-info">
                        <ul>
                            <li><strong>Teléfono:</strong> +123456789</li>
                            <li><strong>WhatsApp:</strong> +57 3026603867</li>
                            <li><strong>Correo electrónico:</strong> info@example.com</li>
                        </ul>
                    </div>
    
                    <div class="contact-icons">
                        <img src="{% static 'css/images/Telefono.png' %}" alt="Icono de Teléfono" class="icon">
                        <img src="{% static 'css/images/WhatsApp.png' %}" alt="Icono de WhatsApp" class="icon">
                        <img src= "{% static 'css/images/Arroba.png' %}"  alt="Icono de Correo electrónico" class="icon">
                    </div>
                </li>
    
                <li class="nav__items">
                    <!-- Enlace con la flecha hacia arriba para ir al inicio -->
                    <a href="#inicio" class="nav__links">
                        <img src="{% static 'css/images/Flecha.png' %}"  alt="Flecha hacia arriba" class="arrow-icon">
                    </a>
                </li>
    
            </ul>
        </section>
    
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="{% static 'css/images/facebook.svg' %}"  alt="Facebook" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/twitter.svg' %}" alt="Twitter" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="{% static 'css/images/youtube.svg' %}" alt="YouTube" class="footer__img"></a>
            </div>
    
            <h3 class="footer__copyright">&copy; 2023 Super Estrellas del Ahorro</h3>
        </section>
    </footer>
    
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/questions.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/deslizar.js' %}"></script>
</body>

</html>